body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
}

.container {
    max-width: 1146px;
    margin: auto;
}

.header {
    padding: 30px 0;
    margin-bottom: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 22px;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.button-link {
    color: inherit;
}

.button-primary {
    color: #fff;
    background: #256EEB;
    border-radius: 5px;
}

.search-panel {
    display: flex;
    padding: 3px;
    height: 50px;
    background: #256EEB;
    border-radius: 5px;
}

.search-input {
    flex-grow: 1;
    background: #fff;
    border-radius: 5px;
    border: none;
    padding-left: 22px;
}

.search-button {
    display: flex;
    align-items: center;
    background: #256EEB;
    color: #fff;
    border: none;
    padding: 16px 17px 15px 20px;
}

.search-button-text {
    padding-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
    margin-right: 20px;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    border: none;
    background: #ffffff;
    cursor: pointer;
    margin-left: 15px;
}

.card-price {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.card-text {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.card-link {
    text-decoration: none;
}

.side-bar {
    /*max-height: 376px;*/
}
.side-bar .page-title {
    font-size: 18px;
    line-height: 21px;
    color: #0A143A;
}
.service {
    margin-bottom: 25px;
}
.service-title {
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    margin-top: 7px;
    margin-bottom: 5px;
}

.service-text {
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    margin-top: 5px;
    max-width: 217px;
}

.divider {
    border: 1px solid #E5E5E5;
}

.footer-menu {
    padding: 0;
    list-style-type: none;
    margin: 0 0 18px;
}

.footer-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.footer-link {
    color: #0A143A;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}
